In [1]:
import pandas as pd

In [2]:
df_soil_19 = pd.read_excel('2019_Metals_Results_-_Soil_Kitchen.xls')

In [3]:
df_soil_19.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,Sample,Street,Cross Street,Initials,Chemical,Lead,Arsenic,Copper,Iron,Manganese,Nickel,Zinc
1,NaN,NaN,NaN,NaN,NaN,Texas-specific Background,15,5.9,15,15000,300,10,30
2,NaN,NaN,NaN,NaN,NaN,GW-Soil-Ing,3,5,1000,NaN,1200,160,2400
3,NaN,NaN,NaN,NaN,NaN,Tot-Soil-Combined,500,24,1300,NaN,3900,840,9900
4,NaN,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13

In [4]:
df_soil_19 = df_soil_19.drop(columns=['Unnamed: 0'])

In [5]:
df_soil_19.columns = df_soil_19.iloc[0]

In [6]:
df_base_19 = df_soil_19.head()

In [7]:
df_soil_19 = df_soil_19.drop(index=[0,1,2,3,4])

In [8]:
df_soil_19 = df_soil_19[['Street', 'Cross Street', 'Lead', 'Arsenic']]

In [9]:
df_soil_18_15 = pd.read_csv('2015-18 Soil_Kitchen_Log.csv')

In [10]:
df_soil_18_15.head()

,Unique ID,Sample Number,Year,Street,Cross Street,"City,State",Full Address,Initials,Notes,Lead,...,Chromium,Arsenic,Copper,Mercury,Nickel,Selenium,Silver,Antimony,Cadimum,Iron
0,1-2015,1,2015,Adelphi,Amherst,"Austin, TX","Adelphi & Amherst,Austin, TX",MB,NaN,24,...,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3-2015,3,2015,Blessing,E. Anderson,"Austin, TX","Blessing & E. Anderson,Austin, TX",MB,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4-2015,4,2015,Cameron,E. Anderson,"Austin, TX","Cameron & E. Anderson,Austin, TX",MB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5-2015,5,2015,Lake Austin,Mopac,"Austin, TX","Lake Austin & Mopac,Austin, TX",CW,NaN,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6-2015,6,2015,Waterson,Mopac,"Austin, TX","Waterson & Mopac,Austin, TX",CW,NaN,190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_soil_18_15 = df_soil_18_15[['Street', 'Cross Street', 'Full Address', 'Lead', 'Arsenic']]

In [12]:
df_soil_18_15.head()

         Street  Cross Street                       Full Address Lead Arsenic
0      Adelphi        Amherst       Adelphi & Amherst,Austin, TX   24     NaN
1     Blessing    E. Anderson  Blessing & E. Anderson,Austin, TX   15     NaN
2      Cameron    E. Anderson   Cameron & E. Anderson,Austin, TX  NaN     NaN
3  Lake Austin          Mopac     Lake Austin & Mopac,Austin, TX   27     NaN
4     Waterson          Mopac        Waterson & Mopac,Austin, TX  190     NaN

In [13]:
df_loc_18_15 = pd.read_csv('Locations Key 2015-2017.csv')

In [14]:
df_loc_18_15.head()

                           Address   Latitude  Longitude
0  Hearwood,Thistlewood,Austin, TX  30.213898 -97.774223
1      Silk Oak,Bradner,Austin, TX  30.185817 -97.839934
2  Tahoe Trail,Jones Rd,Austin, TX  30.224777 -97.804105
3   North Loop,Avenue H,Austin, TX  30.314667 -97.720800
4   Easy Wind,Cannoneer,Austin, TX  30.344105 -97.717867

In [15]:
df_soil_18_15['Full Address'] = [street + ',' + cross_street + ', Austin, TX' for street, cross_street in zip(df_soil_18_15['Street'], df_soil_18_15['Cross Street'])]

In [16]:
df_soil_18_15.head()

         Street  Cross Street                        Full Address Lead Arsenic
0      Adelphi        Amherst       Adelphi , Amherst, Austin, TX   24     NaN
1     Blessing    E. Anderson  Blessing , E. Anderson, Austin, TX   15     NaN
2      Cameron    E. Anderson   Cameron , E. Anderson, Austin, TX  NaN     NaN
3  Lake Austin          Mopac     Lake Austin , Mopac, Austin, TX   27     NaN
4     Waterson          Mopac        Waterson , Mopac, Austin, TX  190     NaN

In [17]:
df_soil_19['Full Address'] = [str(street) + ',' + str(cross_street) + ', Austin, TX' for street, cross_street in zip(df_soil_19['Street'], df_soil_19['Cross Street'])]

In [18]:
df_soil_19

,Street,Cross Street,Lead,Arsenic,Full Address
5,Travis,Belmal,341.32,0,"Travis,Belmal, Austin, TX"
6,Salem Walk Dr,Cedar Glen,8.61,0,"Salem Walk Dr,Cedar Glen, Austin, TX"
7,Byton Loop,Cherry Creek,0,5.28,"Byton Loop,Cherry Creek, Austin, TX"
8,Goodwind,Gunter,10.33,0,"Goodwind,Gunter, Austin, TX"
9,Sunshine Dr,51st,41.15,0,"Sunshine Dr,51st, Austin, TX"
...,...,...,...,...,...
262,Nile,Pleasant Valley,32.26,0,"Nile ,Pleasant Valley, Austin, TX"
263,Edenwood,Westgate,14.06,0,"Edenwood,Westgate, Austin, TX"
264,8th,Northwestern,50.65,0,"8th,Northwestern, Austin, TX"
265,Scenic Brook Dr,Grove Crest,0,5.43,"Scenic Brook Dr,Grove Crest , Austin, TX"
266,Sonnet Ave,Westchester,0,0,"Sonnet Ave,Westchester, Austin, TX"

In [19]:
df_soil_18_15[['Lead', 'Arsenic']] = df_soil_18_15[['Lead', 'Arsenic']].fillna(0)

In [20]:
# df_loc_18_15 = df_loc_18_15.rename(columns={'Address': 'Full Address'})

In [21]:
df_soil_19['Full Address'] = df_soil_19['Full Address'].astype(str)
df_soil_18_15['Full Address'] = df_soil_18_15['Full Address'].astype(str)

In [22]:
df_soil_19['Full Address'] = df_soil_19['Full Address'].str.replace(pat=' ', repl='')

In [23]:
df_soil_18_15['Full Address'] = df_soil_18_15['Full Address'].str.replace(pat=' ', repl='')

In [24]:
# df_loc_18_mean = df_loc_18_15.groupby(by='Full Address').mean().reset_index()

In [25]:
# df_18 = pd.merge(df_soil_18_15, df_loc_18_mean, on='Full Address')

In [26]:
df_soil_18_15

,Street,Cross Street,Full Address,Lead,Arsenic
0,Adelphi,Amherst,"Adelphi,Amherst,Austin,TX",24,0
1,Blessing,E. Anderson,"Blessing,E.Anderson,Austin,TX",15,0
2,Cameron,E. Anderson,"Cameron,E.Anderson,Austin,TX",0,0
3,Lake Austin,Mopac,"LakeAustin,Mopac,Austin,TX",27,0
4,Waterson,Mopac,"Waterson,Mopac,Austin,TX",190,0
...,...,...,...,...,...
776,Spicewood Springs,Yaupon,"SpicewoodSprings,Yaupon,Austin,TX",0,0
777,Yaupon,Dianella,"Yaupon,Dianella,Austin,TX",12.52,0
778,Georgian,Walnut,"Georgian,Walnut,Austin,TX",18.57,0
779,SE Inner Loop,Rockride Ln,"SEInnerLoop,RockrideLn,Austin,TX",0,4.91
780,Rutherford Ln,Furness Dr,"RutherfordLn,FurnessDr,Austin,TX",0,5.31

In [27]:
import requests
from apikey import apikey 

def request_geocoder(street1, street2, apikey, city='Austin, TX'):
    """returns lat. lon for cross streets in street1@street2 format.
    Defailt city is Austin, TX and apikey is required"""

    base_url = 'https://geocoder.ls.hereapi.com/6.2/geocode.json'
    parameters = {"city": city, "street": str(street1) + '@' + str(street2), "gen": 9, "apiKey": apikey}
    try:
        response = requests.get(base_url, params=parameters)
        j_resp = response.json()
        lat = j_resp['Response']['View'][0]['Result'][0]['Location']['DisplayPosition']['Latitude']
        lon = j_resp['Response']['View'][0]['Result'][0]['Location']['DisplayPosition']['Longitude']
#         print(parameters['street'], 'success')
    except:
        lat = ''
        lon = ''
        print(parameters['street'], response)
    
    return pd.Series([lat, lon], index=['Lat', 'Lon'])

In [28]:
def query_cross_streets(df):
    """this function uses geocoder.ls.hereapi.com to find the geocodes for cross streets from a dataframe"""
    df[['Lat', 'Lon']] = df.apply(lambda x: request_geocoder(x['Street'], x['Cross Street'], apikey), axis=1)
    return df

In [29]:
df_soil_19 = query_cross_streets(df_soil_19)

Byton Loop@Cherry Creek <Response [200]>
290E@973 <Response [200]>
Old Kimbro Rd@Us-290 East <Response [200]>
Land Grant Way@Cotton Gin <Response [200]>
Moutainclimb@Dry Creek <Response [200]>
S. Manchaca@Frate-Barker <Response [200]>
Star Gazer Way@Spring Brook <Response [200]>
Anarosa@Scofield Farms <Response [200]>
Anarosa@Scofield Farms <Response [200]>

In [30]:
df_soil_18_15 = query_cross_streets(df_soil_18_15)

I-H 290 @ McArthur Dr. <Response [200]>
Fairweather @ New Hope <Response [200]>
Oakwood Glen Dr. @ Spider Lily <Response [200]>
Oakwood Glen Dr. @ Spider Lily <Response [200]>
Oakwood Glen Dr. @ Spider Lily -- ANNEX <Response [200]>
AW Grimes @ Gattis School <Response [200]>
Truman Heights/Bunch @ Samuel Houston <Response [200]>
Barley Field Pass@Dusty Chisolm Trail <Response [200]>
Woodmoor@Tannehill <Response [200]>
Woodmoor@Tannehill <Response [200]>
Indian Summer Pass@Apache <Response [200]>
E. Baker@Moonlit <Response [200]>
Crestwind@Western Sky <Response [200]>
Ray C. Ewry Ln@J Weism <Response [200]>
Summit Hill Dr@Scenic Dr <Response [200]>
Summit Hill Dr@Scenic Dr <Response [200]>
Sandy Bottom @Blue Pond Dr <Response [200]>
Paddle Bend Springs@IH35 <Response [200]>
Paddle Bend Springs@IH35 <Response [200]>
Basket Flower Bend@Prairie Verbena <Response [200]>
Country Ln@Morning Sun Ln <Response [200]>
A.W. Grimes@Thompson Trl <Response [200]>
Cushing Dr@School Days Dr <Response [200]>
SE Inner Loop@Rockride Ln <Response [200]>

In [34]:
df_soil_18_15 = df_soil_18_15[['Full Address', 'Lat', 'Lon', 'Lead', 'Arsenic']]
df_soil_19 = df_soil_19[['Full Address', 'Lat', 'Lon', 'Lead', 'Arsenic']]

In [35]:
df_soil = df_soil_19.append(df_soil_18_15, ignore_index=True)

In [40]:
df_soil= df_soil.dropna()

In [ ]:
df_soil.to_csv('df')

In [41]:
# df_soil_mean = df_soil.groupby(['Full Address']).mean().reset_index()

DataError: No numeric types to aggregate